<div class="logo">
    <a href="/index.html" class="simple-text logo-mini">
      <div class="logo-img">
        <img src="./assets/img/mitproject.png" />
      </div>
    </a>
    <h1 class="simple-text logo-normal">
      MIT
    </h1>
  </div>
  <div class="sidebar-wrapper"><hr>
    <ul class="nav">
      <li
        routerLinkActive="active"
        *ngFor="let menuItem of menuItems"
        class="{{ menuItem.class }} nav-item"
      >
        <a [routerLink]="[menuItem.path]">
          <i class="tim-icons  {{ menuItem.icon }}"></i>
          <p>{{ menuItem.title }}</p>
        </a>
      </li>
    </ul>
  </div>
