<!--The content below is only a placeholder and can be replaced.-->

<div class="contenu">
    <hr>
    <div class="logo">
        <div class="image">
            <img src="./assets/img/mitproject.png" />
        </div>
        <nav>
            <a routerLink="about">About Us</a> &nbsp;
            <a routerLink="home">Home</a> &nbsp;
            <a routerLink="products">Products</a> &nbsp;
            <a routerLink="log">Log In</a>
        </nav>
        <br>
       
    </div>
    <hr>
</div>
<br><br>
<router-outlet></router-outlet>